header{
    color:white;
    padding: 5px;
    margin-top:0px;
    margin-left: 10px;
}




body {
  margin: 0;
  background-color: blue;
  
}

#n1 {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  
}
#n1 ul{
    display: flex;
    gap: 10px;
    text-decoration: none;
    list-style: none;
    color: white;
    
}
a,li{
    text-decoration: none;
    padding: 5px;
    gap: 2px;
    color: white;
    font-weight: bold;
    transition: 1000ms ease;
}
a:hover{
    transform: scale(1.1);
    background-color: red;

}
#content{
    margin-top: 300px;
    
    text-align: center;
    
}

h1{
    font-weight: 900;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
    color: white;
}
p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight:500;
    color: white;
    padding: 5px;
}
button{
    border: 2px solid white;
    border-radius: 20px;
    padding: 5px;
    color: blue;
    font-weight: bold;
    transition: 1000ms ease;
    cursor: pointer;
}
button:hover{
    transform:scale(1.1);
}
#about{
    text-align: center;
    margin-top: 200px;
    
    background-color: white

}
#about h1,p{
    color: black;
}